<div class="friend">
    <div class="border-helper">
        <div class="cancel">
            <a href="#<%= UserId %>" class="normal"><%= UserName %></a> удален из списка друзей
            <span class="link follow">отмена</span>
        </div>
        <div class="userpic">
            <img src="<%= Photo %>" />
        </div>
        <div class="userinfo">
            <div class="username">
                <a href="#<%= UserId %>" class="normal"><%= UserName %></a>
            </div>
        </div>
        <span class="link unfollow">убрать из друзей</span>
        <div style="clear: both"></div>
    </div>
</div>