<div>
    <a href="#<%= previous %>">baaacck to the <%= name %>!</a><br />
    <div class="error"></div>
    <form>
        lat: <input type="text" name="lat" ><br>
        lng: <input type="text" name="lng"><br>
        description: <input type="text" name="description"><br>
        date: <input type="text" name="date"><br>
        <input type="submit" value="alright!" />
    </form>
    <br />ошибки пока не обрабатывает, вот примерчик как зайдет:
    {Latitude:'56.23423426', Longitude:'34.35323634', Description:'loooooooooooool', EventDate:'Fri, 17 Oct 2014 00:45:20 GMT'}
</div>