h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

::-webkit-input-placeholder {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

:-moz-placeholder {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

::-moz-placeholder {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

:-ms-input-placeholder {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

html, body {
  margin: 0px;
  height: 100%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 12px; }

a.previous {
  text-decoration: none;
  color: #c0392b;
  transition: color 0.2s ease;
  margin: 0px 0px 10px 0px;
  display: block;
  font-size: 14px; }

a.previous:hover {
  color: #e74c3c; }

a.previous i {
  position: relative;
  top: 1px; }

.new {
  position: absolute;
  top: 5px;
  right: 16px;
  z-index: 150; }

.new a {
  text-decoration: none;
  color: #c0392b;
  transition: color 0.2s ease;
  margin: 0px 0px 10px 0px;
  display: block;
  font-size: 14px; }

.new a:hover {
  color: #e74c3c; }

.new i {
  position: relative;
  top: 1px; }

a.normal {
  text-decoration: none;
  color: #c0392b; }

a.normal:hover {
  text-decoration: underline; }

#app {
  height: 100%; }

#map-canvas {
  height: 100%;
  padding: 5px;
  box-sizing: border-box; }

#wrap {
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 100; }

#header {
  height: 60px;
  width: 450px;
  background-color: #c0392b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  margin: 0px 0px 10px 0px; }

#logo {
  background: url(../img/logo.png) left center no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 200px; }

#main {
  width: 450px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  height: 360px;
  min-height: 250px; }

#resizable-vertical {
  height: 10px;
  width: 100%;
  background: rgba(224, 224, 224, 0.8) url(../img/resize-vertical.png) center center no-repeat;
  position: absolute;
  bottom: 0px; }

.auth {
  margin: 20px; }

.filler {
  height: 110px;
  width: 40px;
  background: #dbdbdb;
  background: rgba(219, 219, 219, 0.5); }

.marker {
  width: 200px;
  min-height: 85px;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin: 0px 0px 5px 0px;
  word-wrap: break-word; }

.marker .userpic {
  border-radius: 50%;
  overflow: hidden;
  height: 30px;
  width: 30px;
  float: left; }

.marker .userpic img {
  height: 30px;
  width: 30px; }

.marker .userinfo {
  margin: 0px 0px 0px 35px;
  position: relative;
  top: -2px; }

.marker .date-create {
  color: #bbbbbb;
  font-size: 10px; }

.marker .username {
  font-size: 14px; }

.marker .description {
  margin: 2px 0px 5px 0px; }

.marker .info {
  color: #c0392b; }

.marker .date {
  width: 100px;
  display: inline-block;
  margin: 0px 0px 5px 0px; }

.marker .info i {
  position: relative;
  top: -2px;
  margin: 0px 4px 0px 0px; }

.marker .more {
  float: right; }

#sidebar {
  float: left;
  height: auto;
  font-size: 15px; }

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#sidebar li {
  background-color: #dbdbdb;
  background-color: rgba(219, 219, 219, 0.5);
  width: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 0.5s ease; }

#sidebar li a {
  color: #bdc3c7;
  display: block;
  padding: 15px 0;
  outline: none;
  transition: color 0.2s ease; }

#sidebar li a:hover {
  color: #c0392b; }

#sidebar .active {
  background: transparent; }

#sidebar .active a {
  color: #c0392b;
  border-radius: 5px 0px 0px 5px; }

#content {
  word-wrap: break-word; }

#scrollblock {
  overflow: hidden;
  position: relative;
  padding: 5px 15px 10px 10px;
  margin: 5px 0px 0px 40px;
  height: 328px;
  min-height: 218px;
  width: 385px; }

.hello {
  color: #fff;
  float: right;
  margin: 12px;
  text-align: right;
  font-size: 15px; }

.hello .link {
  cursor: pointer;
  border-bottom: 1px #fff dotted; }

.hello .link:hover {
  color: #000;
  border-bottom: 1px #000 dotted; }

#new-event textarea {
  max-height: 200px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box; }

#new-event textarea:focus {
  outline: none !important;
  border: 1px solid rgba(197, 57, 43, 0.8);
  box-shadow: 0 0 5px rgba(197, 57, 43, 0.8); }

#new-event input[type=text] {
  border: 1px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.5);
  height: 24px;
  padding: 2px;
  box-sizing: border-box; }

#new-event input[type=text]:focus {
  outline: none !important;
  border: 1px solid rgba(197, 57, 43, 0.8);
  box-shadow: 0 0 5px rgba(197, 57, 43, 0.8); }

#new-event input[type=submit] {
  margin: 10px 0px;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #c0392b;
  transition: background-color 0.2s ease;
  font-size: 13px; }

#new-event input[type=submit]:hover {
  background-color: #e74c3c; }

#new-event input[type=submit]:active,
#new-event input[type=submit]:focus {
  outline: none; }

#new-event select {
  border: 1px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.5);
  height: 24px;
  cursor: pointer;
  box-sizing: border-box; }

#new-event select:focus {
  outline: none !important;
  border: 1px solid rgba(197, 57, 43, 0.8);
  box-shadow: 0 0 5px rgba(197, 57, 43, 0.8); }

#new-event span {
  margin: 0px 10px 0px 10px; }

.error {
  padding: 3px 5px 3px 3px;
  margin: 0px 0px 5px 0px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background: url(../img/error.png);
  color: #ffffff;
  font-size: 12px; }

#new-event .location {
  height: 20px;
  margin: 0px 0px 10px 0px; }

#new-event .location input {
  width: 100%; }

.small-marker {
  height: 16px;
  width: 16px;
  z-index: 150;
  background: url(../img/small_marker.png) center center no-repeat;
  position: relative;
  left: calc(100% - 18px);
  top: -20px; }

.error .icon {
  float: left;
  background: url(../img/error-icon.png) center center no-repeat;
  width: 16px;
  height: 16px; }

.error .content {
  margin-left: 18px; }

.entry {
  border-bottom: 1px solid #eeeeee;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 5px 0px; }

.entry .userpic {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  float: left; }

.entry .userpic img {
  height: 40px;
  width: 40px; }

.entry .userinfo {
  margin: 0px 0px 0px 45px;
  position: relative;
  top: 5px; }

.entry .date-create {
  color: #bbbbbb;
  font-size: 10px; }

.entry .username {
  font-size: 14px; }

.entry .description {
  margin: 5px 0px 10px 0px; }

.entry .info {
  color: #c0392b; }

.entry .date {
  width: 100px;
  display: inline-block;
  margin: 0px 0px 5px 0px; }

.entry .info i {
  position: relative;
  top: -2px;
  margin: 0px 4px 0px 0px; }

.entry .more {
  float: right; }

img.coming-soon {
  margin: 10px auto;
  height: 300px;
  display: block; }

/*HOME*/
.auth {
  background: url(../img/alpha_logo.png) left top no-repeat;
  padding: 80px 0px 0px 0px;
  top: 10%;
  left: calc(50% - 150px);
  width: 300px;
  position: absolute; }

.auth input {
  width: 100%;
  border-radius: 5px;
  height: 35px;
  margin: 0px 0px 10px 0px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #eeeeee;
  padding: 3px;
  transition: box-shadow 0.5s ease; }

.auth input[type=text]:focus {
  box-shadow: 0 0 5px rgba(197, 57, 43, 0.8);
  border: 1px solid rgba(197, 57, 43, 0.8); }

.auth input[type=password]:focus {
  box-shadow: 0 0 5px rgba(197, 57, 43, 0.8);
  border: 1px solid rgba(197, 57, 43, 0.8); }

.auth input[type=submit] {
  height: 45px;
  font-size: 20px;
  color: #fff;
  background-color: #c0392b;
  transition: background-color 0.5s ease; }

.auth input[type=submit]:hover {
  background-color: #e74c3c; }

.auth input:active,
.auth input:focus {
  outline: none; }

.auth h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
  font-size: 16px; }

.auth ::-webkit-input-placeholder {
  font-size: 16px; }

.auth :-moz-placeholder {
  font-size: 16px; }

.auth ::-moz-placeholder {
  font-size: 16px; }

.auth :-ms-input-placeholder {
  font-size: 16px; }

.auth .change {
  text-align: center;
  margin: 0px 0px 10px 0px; }

.auth .change span {
  color: #c0392b;
  cursor: pointer;
  border-bottom: 1px dotted #c0392b; }

.auth .change span:hover {
  border-bottom: none; }

.auth #external {
  text-align: center; }

.auth #external a {
  color: #c0392b;
  border-bottom: 1px dotted #c0392b;
  text-decoration: none; }

.auth #external a:hover {
  border-bottom: none; }
